<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock title %}</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/visualize.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.jqplot.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
	<script type="text/javascript">

      $(function () {
        var graph = [,];
           
        //Construct graph values
        j = 0;
        a = 1;
        {% for record in results %}
            if (graph [{{record.reference.id_ref}},j] == null) {graph[{{record.reference.id_ref}},j] = [];}
            graph[{{record.reference.id_ref}},j].push( [ {{record.value}} , {{record.speed}}] );
            if (a != null) {j++;}
            document.write ({{record.conditions}});
            
        {% endfor %}
       
        new_graph = [,];
        l = 0;
        k = 0;
        
        for (var i = 0; i < graph.length ; i++) {
            for (var j = 0; j < graph[i].length ; j++) {
	            if (graph[i,j]!=null) {
	               new_graph[k,l] = graph[i,j];
	               l++;
	            }
	        }
	        k++;
        }
       graph_options = {
            title:'Flame speed {{charact}}',
            legend:{show:true},
       }

      $.jqplot('chartdiv', new_graph, graph_options);    

	   }); 
	 </script>  

</head>
<body>
<div id="wrapper">
<header id="mainHeader">
  <hgroup>
    <h1>Flame Speed</h1>
  </hgroup>
    <nav id="mainNav">
    <h1>Main page navigation</h1>
    <ul id="siteNav">
      <li><a href="/home">Home</a></li>
      <li><a href="/data">Database search</a></li>
      <li><a href="/graph">Graph</a></li>
      <li><a href="/mixture">Mixtures</a></li> 
      <li><a href="/characteristic">Characteristic</a></li>
      <li><a href="/reference" class="last">References</a></li>
    </ul>
  </nav>
</header>
  <section id="content">
  	<header>{% include "messages.html" %}</header>
    {% block content %}{% endblock content %}
  </section>
  <footer id="pageFooter">
  <p>&copy;copyright 2012 Maha Manoubi</p>
  <p><a href="#">legal</a> | <a href="#">privacy</a> </p>
  </footer>
</div>
</body>
</html>