{%extends "base.html"%}
{%block title%}Characteristic{%endblock%}
{%block content%}
    <header><h2>View all characteristics</h2></header>
	<div class="viewTable">	
    	<table border="1" cellpadding="10" cellspacing="0">
    		<tr>
    		    <th>Ref</th>
	    		<th>Name</th>	    	
	    		<th>Value</th>
	    		<th>Speed</th>
	    		<th>Pressure(atm)</th>
	    		<th>Temperature(K)</th>
	    		<th>Mixture</th>
	    		<th>Details</th>
	    		<th>Ref</th>
    		</tr>    	
    	{% for entry in characteristics %}
			<tr>
			    <td>{{entry.reference.id_ref}}</td>
				<td>{{entry.name}}</td>
				<td>{{entry.value}}</td>
				<td>{{entry.speed}}</td>
				<td>{{entry.pressure}}</td>
				<td>{{entry.temperature}}</td>
				<td>{{entry.mixture.name}}</td>
				<td>{{entry.details}}</td>
			</tr>
    	{% endfor %}	
    	</table>
    </div>
{%endblock%}



