{%extends "base.html"%}
{%block title%}Mixture{%endblock%}
{%block content%}
    <header><h2>View all Mixture</h2></header>
</hgroup>
    <nav id="mainNav">
    <ul id="siteNav">
      <li><a href="/H2_air">H2_air</a></li>
      <li><a href="/H2_O2">H2_O2</a></li>
      <li><a href="/H2_CO">H2_CO</a></li>  
      <li><a href="/H2_air_CO">H2_air_CO</a></li>
      <li><a href="/H2_air_steam">H2_air_steam</a></li>
      <li><a href="/H2_O2_CO_CO2">H2_O2_CO_CO2</a></li>
      <li><a href="/H2_O2_N2_CO2">H2_O2_N2_CO2</a></li>
      <li><a href="/H2_air_CO2">H2_air_CO2</a></li>
      <li><a href="/H2_air_CO_CO2">H2_air_CO_CO2</a></li>
    </ul>
 	</nav>
{%endblock%}