{%extends "base.html"%}
{%block title%}Data{%endblock%}
{%block content%}
<section id="data">
   		<form method="POST" class="databaseForm" action="{% url data %}">
   			{% csrf_token %} 
   				<select name="mixture">
	   				{% for entry in mixtures %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
	 
	   			<select name="characteristic">
	   				{% for entry in characteristic_list %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}

		   		</select>

   		    <button type="submit">Select</button>
 
   		<table border="1" cellpadding="10" cellspacing="0">
    		<tr>
    	     	<th>Reference</th>
    		    <th>Fuel</th>
    		    <th>Characteristic</th>
	    		<th>Value</th>
	    		<th>Speed</th>
	    		<th>Conditions</th>
	    	</tr> 
		    	{% for entry in data %}
					<tr>
				     	<td>{{entry.reference.id_ref}}</td>
					    <td>{{entry.mixture.name}}</td>
					    <td>{{entry.name}}</td> 
						<td>{{entry.value}}</td>
						<td>{{entry.speed}}</td>
						<td>{{entry.conditions}}</td>
					</tr>
		    	{% endfor %}	
    	</table>
 </form>
 <FORM><INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>         	     	        	
</section>    	 
{%endblock%}