{%extends "base.html"%}
{%block title%}database{%endblock%}
{%block content%}
<section id="searchdatabase">
   <header></header>
   		<form method="POST" class="databaseForm" action="{% url database %}">
   			{% csrf_token %} 
   				<select name="mixture">
	   				{% for entry in mixtures %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
   			<button type="submit">Select Mixture</button>
	 
	   			<select name="characteristic">
	   				{% for entry in characteristic_list %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
		   		</select>
   			<button type="submit">Select Charateristic</button>
   			
   			    <select name="reference">
	   				{% for entry in reference_list %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
   			<button type="submit">Display Graph</button>
   		</form>         	     	        	
   </section>  
{%endblock%}