{%extends "base.html"%}
{%block title%}Database_search{%endblock%}
{%block content%}
    <header><h2>View all mixture</h2></header>
	<div class="viewTable">  		
    	<form method="post" action="traitement.php">
		   <p>
		       Please choose the mixture :<br />
		       <input type="radio" name="Mixture" value="H2_air" id="H2_air" /> <label for="H2_air">H2_air</label><br />
		       <input type="radio" name="Mixture" value="H2_O2" id="H2_O2" /> <label for="H2_O2">H2_O2</label><br />		       
		       <input type="radio" name="Mixture" value="H2_CO" id="H2_CO" /> <label for="H2_CO">H2_CO</label><br />
		       <input type="radio" name="Mixture" value="H2_air_CO" id="H2_air_CO" /> <label for="H2_air_CO">H2_air_CO</label><br />
		       <input type="radio" name="Mixture" value="H2_air_steam" id="H2_air_steam" /> <label for="H2_air_steam">H2_air_steam</label><br />
		       <input type="radio" name="Mixture" value="H2_O2_CO_CO2" id="H2_O2_CO_CO2" /> <label for="H2_O2_CO_CO2">H2_O2_CO_CO2</label><br />
		       <input type="radio" name="Mixture" value="H2_O2_N2_CO2" id="H2_O2_N2_CO2" /> <label for="H2_O2_N2_CO2">H2_O2_N2_CO2</label><br />
		       <input type="radio" name="Mixture" value="H2_O2_CO_CO2" id="H2_O2_CO_CO2" /> <label for="H2_O2_CO_CO2">H2_O2_CO_CO2</label><br />
		       <input type="radio" name="Mixture" value="H2_air_CO2" id="H2_air_CO2" /> <label for="H2_air_CO2">H2_air_CO2</label><br />
		       <input type="radio" name="Mixture" value="H2_air_CO_CO2" id="H2_air_CO_CO2" /> <label for="H2_air_CO_CO2">H2_air_CO_CO2</label>
		   </p>
		</form>
    </div>
{%endblock%}


