{%extends "base.html"%}
{%block title%}Data{%endblock%}
{%block content%}
<section id="data">
       <form method="POST" class="databaseForm" action="{% url data %}">
           <fieldset>
           <legend>Mixture</legend> <!-- Titre du fieldset -->
               
                   {% csrf_token %} 
                       <select name="mixture" onclick="submit();">
              <!--  <option value=""></option> -->
                       {% for entry in mixtures %}
                           <option value="{{entry}}" selected="selected">{{entry}}</option>
                       {% endfor %}
                   </select>
              
                   <select name="characteristic" onclick="submit();">
                       {% for entry in characteristic_list %}
                           <p><option value="{{entry}}">{{entry}}</option></p>
                       {% endfor %}    
                   </select>        
           
           </fieldset>     
           
           <fieldset>
           <legend>Oxydant</legend> 
                <select name="nN2_nO2">
                <p><option value="3.76" >Air </option></p>
                <p><option value="0" >Oxygene </option></p>
               </select>
           </fieldset>
           
           <fieldset>
           <legend>Pressure</legend> 
           <ul>
               <p>Enter the range of pressure</p>
               <DIV style="float: left; width: 50%">
	               <p>Minimum</p>
	               <input type="number" name="pressure_min" min=0 max=100 />
	           </DIV>
               <DIV style="float: left; width: 50%">
	               <p>Maximum</p>
	               <input type="number" name="pressure_max" min=0 max=100 />
               </DIV>
           </ul>
           </fieldset>    
            
           <fieldset>
           <legend>Temperature</legend>
           <ul>
               <p>Enter the range of temperature</p>
               <DIV style="float: left; width: 50%">
	               <p>Minimum</p>
	               <input type="number" name="temperature_min" min=273 max=1000 />
               </DIV>
               <DIV style="float: left; width: 50%">
	               <p>Maximum</p>
	               <input type="number" name="temperature_max" min=273 max=1000 />
               </DIV>
               </p>
           </ul>
           <button class="btn btn-small btn-primary" type="submit">Submit</button>
           <button class="btn btn-small btn-primary" type="button" onClick="history.go(-1);return true;">Back</button>
           </fieldset>    
       </form>  
            <table border="1" cellpadding="10" cellspacing="0">      
            <tr>
                 <th>Reference</th>
                <th>Fuel</th>
                <th>Pressure</th>
                <th>Temperature</th>
                <th>Characteristic</th>
                <th>Value</th>
                <th>Speed</th>
                <th>Conditions</th>
            </tr> 
            
                {% for entry in data %}
                    <tr>
                         <td>{{entry.reference.id_ref}}</td>
                        <td>{{entry.mixture.name}}</td>
                        <td>{{entry.pressure}}</td>
                        <td>{{entry.temperature}}</td>
                        <td>{{entry.name}}</td> 
                        <td>{{entry.value}}</td>
                        <td>{{entry.speed}}</td>
                        <td>{{entry.details}}</td>
                    </tr>
                {% endfor %}     
           </table>                            
</section>         
{%endblock%}