{%extends "base.html"%}
{%block title%}Graph{%endblock%}
{%block content%}
  <script type="text/javascript">

      $(function () {
        var graph = {};
        var lab_initial = [];
        var a = 'False';
           
        //Construct graph values           
        
        {% for record in results %}
            if (graph ["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"] == null) {
              graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"] = [];
            } else {
                  a = 'True';
                  if ('{{charact}}' == 'Pressure')
                      {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.pressure}} , {{record.speed}}] );
                       }         
                  else if ('{{charact}}' == 'Temperature')
                      {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.temperature}} , {{record.speed}}] );
                       }
                  else {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.value}} , {{record.speed}}] );                  
                  }  
            }
        {% endfor %}
        
        if(a == 'False')  
		$(".message").text("Data no available");
        
        {% for record in results %}
                if ("{{record.reference.source}}" != '-') lab_reference = "{{record.reference.source}}, "; else lab_reference = "";
        		if ("{{record.pressure}}" != '-') lab_pressure = "{{record.pressure}}atm, "; else lab_pressure = "";
        		if ("{{record.temperature}}" != '-') lab_temperature = "{{record.temperature}}K, "; else lab_temperature = "";
        		if (("{{record.CO}}" != '-')&&("{{record.CO}}" != '0')) lab_CO = "{{record.CO}}%CO, "; else lab_CO = "";
        		if (("{{record.CO2}}" != '-')&&("{{record.CO2}}" != '0')) lab_CO2 = "{{record.CO2}}%CO2, "; else lab_CO2 = "";
        		if (("{{record.H2O}}" != '-')&&("{{record.H2O}}" != '0')) lab_H2O = "{{record.H2O}}%H2O, "; else lab_H2O = "";
        		if (("{{record.N2}}" != '-')&&("{{record.N2}}" != '0')) lab_N2 = "{{record.N2}}%N2, "; else lab_N2 = "";
        		if ("{{record.details}}" != '-') lab_details = "{{record.details}}, "; else lab_details = ""; 

                lab_initial.push(lab_reference + lab_pressure + lab_temperature + lab_CO + lab_CO2 + lab_H2O + lab_N2 + lab_details);  

        {% endfor %}
        
        var lab = [];
        $.each(lab_initial, function(i, el){
		    if($.inArray(el, lab) === -1) lab.push(el);
		});
                
        new_graph = [];
        series = []
        i = 0;
        for (var key in graph) {
            new_graph[i] = graph[key];
            series.push( {     
                   label: lab[i],
                   showLine: false,
                   //pointLabels: {show: true},
                   markerOptions: { size: 7, style:"x"}
                   
             });
             i++;
        }

       console.log(new_graph);
       
       graph_options = {
            title:'Flame speed VS {{charact}}',
            legend:{show:true},
            axes: {
                  xaxis: {label: "{{charact}}",},
                  yaxis: {
                         label: "SL(m/s)",
                         //tickOptions:{
                             //          formatString:'%.2Pm/s'
                          //}
                  }
                  },            
            series : series,
            highlighter: {
                show: true,
                sizeAdjust: 7.5,
                //useAxesFormatters: false,
                //tooltipFormatString: '%.2Pm/s'                     
            },      
       }

      $.jqplot('chartdiv', new_graph, graph_options);      
     
     });

   </script>
    <div class='message'></div>
    <div id="chartdiv" style="height:800px;width:100%;"></div>
    <FORM><INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
{%endblock%}
