{%extends "base.html"%}
{%block title%}Graph{%endblock%}
{%block content%}
  <script type="text/javascript">

      $(function () {
        var graph = {};
           
        //Construct graph values
        {% for record in results %}
            if (graph ["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"] == null) {
              graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"] = [];
            } else {
                  if ('{{charact}}' == 'Pressure')
                      {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.pressure}} , {{record.speed}}] );
                       }         
                  else if ('{{charact}}' == 'Temperature')
                      {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.temperature}} , {{record.speed}}] );
                       }
                  else {
                      graph["{{record.reference.source}}, {{record.pressure}}, {{record.temperature}}, {{record.CO}}, {{record.CO2}}, {{record.H2O}}, {{record.N2}}, {{record.details}}"].push( [ {{record.value}} , {{record.speed}}] );                  
                  }  
            }
        {% endfor %}
        
        {% for record in results %}
                lab =  ["{{record.reference.source}}", "{{record.pressure}}atm", "{{record.temperature}}K", "{{record.CO}}%CO", "{{record.CO2}}%CO2", "{{record.H2O}}%H2O", "{{record.details}}"]           
        {% endfor %}
                
        new_graph = [];
        series = []
        i = 0;
        for (var key in graph) {
            new_graph[i] = graph[key];
            series.push( {     
                   label: lab,
                   showLine: false,
                   //pointLabels: {show: true},
                   markerOptions: { size: 7, style:"x"}
                   
             });
             i++;
        }

       console.log(new_graph);
       
       graph_options = {
            title:'Flame speed VS {{charact}}',
            legend:{show:true},
            axes: {
                  xaxis: {label: "{{charact}}",},
                  yaxis: {
                         label: "SL(m/s)",
                         //tickOptions:{
                             //          formatString:'%.2Pm/s'
                          //}
                  }
                  },            
            series : series,
            highlighter: {
                show: true,
                sizeAdjust: 7.5,
                //useAxesFormatters: false,
                //tooltipFormatString: '%.2Pm/s'                     
            },      
       }

      $.jqplot('chartdiv', new_graph, graph_options);      
     
     });

   </script>
    <div id="chartdiv" style="height:800px;width:100%;"></div>
    <FORM><INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
{%endblock%}
