{%extends "base.html"%}
{%block title%}Graph{%endblock%}
{%block content%}
<header></header>
<section id="graph">
   		<form method="POST" class="databaseForm" action="{% url graph %}">
   			{% csrf_token %} 
   				<select name="mixture">
	   				{% for entry in mixtures %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
	 
	   			<select name="characteristic">
	   				{% for entry in characteristic_list %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
		   		</select>	   		

	   			<select name="press_temp">
	   				{% for entry in press_temp_list %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
		   		</select>
		   		
   		   <button type="submit">Select</button>
   		</form>   
   		<FORM><INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>      	     	        	
</section>  


{%endblock%}