{%extends "base.html"%}
{%block title%}Graph{%endblock%}
{%block content%}
<header></header>
<section id="graph">
   		<form method="POST" class="databaseForm" action="{% url graph %}">
   			{% csrf_token %} 
   				<select name="mixture" onclick="submit();">
	   				{% for entry in mixtures %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
	 
	   			<select name="characteristic" onclick="submit();">
	   				{% for entry in data %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
		   		</select>	   		

   		</form>   

   		<FORM><INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>      	     	        	
</section>  


{%endblock%}