{%extends "base.html"%}
{%block title%}Database{%endblock%}
{%block content%}
    <header><h2>Characteristic</h2></header>
</hgroup>
    <nav id="mainNav">
    <ul id="siteNav">
      <li><a href="/H2_air_Pressure">Pressure</a></li>
      <li><a href="/H2_air_EquivalentRatio">Equivalente_ratio</a></li>
      <li><a href="/volume_%H2">Volume %H2</a></li>
      <li><a href="/concentration_%H2">Concentration %H2</a></li>
      <li><a href="/H2/O2_ratio">H2/O2 ratio</a></li>
      <li><a href="/H2/Air_ratio">H2/Air ratio</a></li>
      <li><a href="/H2/(H2+Air)_ratio">H2/(H2+Air)ratio</a></li>
    </ul>
 </nav>
    </div>
{%endblock%}