{%extends "base.html"%}
{%block title%}Search{%endblock%}
{%block content%}
<section id="searchSection">
   <header></header>
   		<form method="POST" class="searchForm" action={% url search %}>
   			{% csrf_token %} 
   			<select name="mixture">
	   				{% for entry in mixtures %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
           </br></br>
   			--->
   			   	<select name="characteristic">
	   				{% for entry in characteristics %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>
           </br></br>
   			-------->
   			   	<select name="reference">
	   				{% for entry in references %}
	   					<option value="{{entry}}">{{entry}}</option>
	   				{% endfor %}
	   			</select>	
   			<button type="submit">Run</button>
   		</form>
   		
   		<table border="1" cellpadding="10" cellspacing="0">
    		<tr>
    	     	<th>reference</th>
    		    <th>mixture</th>
    		    <th>characteristic</th>
	    		<th>value</th>
	    		<th>speed</th>
	    	</tr> 
		    	{% for entry in results %}
					<tr>
				     	<td>{{entry.reference.id_ref}}</td>
					    <td>{{entry.mixture.name}}</td>
					    <td>{{entry.name}}</td> 
						<td>{{entry.value}}</td>
						<td>{{entry.speed}}</td>
					</tr>
		    	{% endfor %}	
    	</table>
    	
   </section>  
{%endblock%}